.main-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;
    margin: auto;
    padding: 50px;
    .notes-list{
        margin-top: 20px;
    }
}

app-note-card{
    display: block;
    margin-bottom: 25px;
}